:root {
    --white:hsl(0, 0%, 100%);
    --very-dark-magenta:hsl(300, 43%, 22%);
    --soft-pink:hsl(333, 80%, 67%);
    --dark-grayish-magenta:hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Spartan', sans-serif;
}

body {
    background-image: url(../images/bg-pattern-top-mobile.svg), url(../images/bg-pattern-bottom-mobile.svg);
    background-position: top, bottom;
    min-width: 375px;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #fdfdfd;
    
}

.main {
    margin: 0 auto;
    padding: 2.5rem 2.2rem;
}

.header__title {
    font-size: 2rem;
    text-align: center;
    color: var(--very-dark-magenta);
    padding-bottom: 1.5rem;
    font-weight: 700;
}

.header__paragraph {
    font-size: 0.9rem;
    text-align: center;
    color: var(--dark-grayish-magenta);
    font-weight: 500;
    padding-bottom: 1.5rem;
}

.rating__div {
    margin: 1rem 0rem;
    padding: 1rem 3rem;
    background-color: #F7F2F8;
    width: 100%;
    border-radius: 10px;
}

.star-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating__star {
    margin: 0 2px;
}

.rating__message {
    color: #502050;
    font-weight: 700;
    font-size: 12px;
    display: block;
    text-align: center;
    padding-top: 1px;
}

.rating__img {
    width: 15px;
    padding-bottom: 10px;
}

.user {
    background-color: var(--very-dark-magenta);
    border-radius: 5px;
    margin: 1rem 0;
    padding: 2rem 1.5rem;
}

.user__img {
    border-radius: 50%;
    width: 3rem;
    float: left;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
}

.user__name {
    color: var(--white);
    font-weight: 700;
    display: block;
    margin-top: 1.5rem;
}

.user__title {
    color: var(--soft-pink);
    font-weight: 400;
    display: inline-block;
    margin-bottom: 1rem;
}

.user__paragraph {
    font-size: 12px;
    color: var(--white);
    text-align: left;
    line-height: 1.3rem;
    padding: 0 0.5rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
    font-size: 12px;
}

@media only screen and (min-width: 768px) {
    body {
        max-width: 90%;     
        margin: 0 auto;
        background-image: url(../images/bg-pattern-top-desktop.svg) , url(../images/bg-pattern-bottom-desktop.svg);
        background-position: top, bottom;
        
    }
    
    main {
        max-width: 90%;
        display: grid;
        grid-template-areas: 
        'header header rating rating'
        'user user user user'
        'footer footer footer footer';
        grid-template-columns: 20% 40%;
    }

    header {
        grid-area: header;
        width: 50%;
    }

    .header__title{
        font-size: 2.5rem;
        text-align: left;
        font-weight: 700;
    }

    .header__paragraph {
        text-align: left;
        font-size: 12px;
        line-height: 0.5rem;
        width: 125%;
        font-weight: 500;
        line-height: 1.6rem;
    }

    .rating{
        grid-area: rating;
        width: 58%;
        margin-left: -5rem;
    }

    .rating__div {
        display: flex;
        width:174%;
        border-radius: 8px;
        justify-content: space-around;
    }

    .rating__div-2 {
        margin-left: 2rem;
    }

    .rating__div-3 {
        margin-left: 4rem;
    }

    .user-section {
        grid-area: user;
        display: flex;
        
        width: 100%;
    }

    .user {
        max-width: 350px;
        margin-right: 2%;
        height: 220px;
        margin-top: 4%;
    }

    .user-1 {
    }

    .user-2 {
        margin-top: 5%;
        max-height: 220px;
    }

    .user-3 {
        margin-top: 6%;
        max-height: 220px;
    }

    .user__paragraph {
        font-size: 10.5px;
        font-weight: 400;
        width: 103%;
    }

    footer {
        grid-area: footer;
        margin-top: -18px;
    }

}